

h1{text-align: center; font-family: Arial, Helvetica, sans-serif; font-size: 60px; top:2200}

.active{background-color: rgb(2, 2, 49); padding: 15px}

ul{list-style-type: none; text-align: center;}

.planetas_enanos{position: relative;  left: 350px;}

li{float:inline-start; padding: 10px; font-size: 30px; border:black; background-color:darkblue; color:blanchedalmond;}

a{color:aliceblue}

.autor{text-align:center; position:fixed; top: 660px; left: 1100px}

