body{background-color: black; color:white }
h1{text-align: center;}
ul{list-style-type: none; font-size: large;}
li{float:inline-start; padding: 10px; font-size: 20px;}

.luna{width: 200px}
.luna_nueva{width:220px}







