body{background-color: black; color:aliceblue;overflow:hidden}

img{position:relative; top: 50px;width: 100px; opacity: 1;
    animation-name: saturno;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;}
    
    @keyframes saturno{from{width: 100px; opacity: 0} to{width:1000px; opacity:1}}
    
    .autor{text-align:end; position:relative; top: 400px}