body{background-color:rgb(1, 1, 12); color:aliceblue;overflow: hidden;
    animation-name: sky;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;}
    
    @keyframes sky {from{background-color: rgb(5, 1, 29);} to{background-color:  rgb(234, 156, 96);} }


sol{position:absolute; left:350px; opacity: 0; width: 200px}

img{width: 200px; opacity: 1;
    animation-name: sol;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    animation-direction:alternate; }
    
    @keyframes sol { from{opacity:0; width: 200px  ; top:0} to {opacity: 1;width: 1500px; right: 1500px}}